.app {
	margin: 50px;
}

/* CSS Forms */

* {
	box-sizing: border-box;
}

/* Style the search field */
form.search-input input[type='text'] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

/* Style the submit button */
form.search-input button {
	float: left;
	width: 80px;
}

form.search-input {
	display: flex;
	margin-bottom: 12px;
}

/* Clear floats */
form.search-input::after {
	content: '';
	clear: both;
	display: table;
}

button {
	padding: 10px;
	background: #04aa6d;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}

button:hover {
	background: green;
}

/* CSS Table */

table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table td,
table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr:hover {
	background-color: #ddd;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04aa6d;
	color: white;
}

/* CSS Button */

.error {
	color: red;
}

.loading {
	font-size: 24px;
	font-weight: bold;
	margin-left: 40%;
	margin-top: 20%;
}

/* Pagination */

.pagination {
	margin-top: 30px;
	display: inline-block;
}

.pagination button {
	background-color: #fff;
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	cursor: pointer;
}

.pagination button.active {
	background-color: #4caf50;
	color: white;
}

.pagination button:disabled,
button[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
}

.pagination button:hover:not(.active) {
	background-color: #ddd;
}
